## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

In [53]:
ordered_list=["python","R","Spark"]
for index, item in enumerate(ordered_list):
    print(f"{index + 1}. {item}")

1. python
2. R
3. Spark

# Some of the commonly used libraries used by Data Scientists include:

In [55]:
ordered_list=["matplotlib","Seaborn","Plotly"]
for index, item in enumerate(ordered_list):
    print(f"{item}")

matplotlib
Seaborn
Plotly

In [56]:
from texttable import Texttable
t = Texttable()
t.add_rows([['Data Science Tools'], ['DEV'], ['UAT'],['PROD']])
print(t.draw())

+--------------------+
| Data Science Tools |
+====================+
| DEV                |
+--------------------+
| UAT                |
+--------------------+
| PROD               |
+--------------------+

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integer

In [28]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [46]:
200/60

3.3333333333333335

### Objectives:

In [50]:
unordered_list = ["Python", "R", "Spark"]
for item in unordered_list:
    print(". " + item)

. Python
. R
. Spark

## Author
Deepali